html {
  width: 800px;
}


body, p, td {
  font-size: 0.9em;
}


/* general */

.loading{
  color:gray;
  font-style: italic;
}

#logo {
  text-align: right;
}

header div.menu{
  margin-top: 10px;
  float:right;
  font-size:90%;
}

#main{
  padding:5px;
}

#header{
  padding:0px 10px;
  position:relative;
  z-index:1000;
}

.panel{
  position:relative;
}

.panel h2{
  position:absolute;
  font-size:16px;
  line-height: 30px;
  right:0px;
  color:gray;
}

#notifications {
  opacity: 0.5;
  display:none;
  position: absolute;
  right: 15px;
  font-size: 0.9em;
  color:gray;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:8px;
  min-width:300px;
}

div.aui-tabs{ /* override */
  margin-top: 5px;
}

.content {
  padding:10px;
}

span.error {
  color:red;
}

.aui-message {
  margin-bottom:10px;
  margin-left:20px;
  white-space: nowrap;
  overflow: hidden;
  width:700px;
}

/* jira */

#jira div.issue{
  white-space: nowrap;
  overflow: hidden;
  width:780px;
  font-size: 0.9em;
}

#jira div.issue > span {
  line-height: 20px;
}

#jira div.issue span.priority {
  min-width:20px;
  display:inline-block;
}

#jira div.issue span.status {
  min-width:70px;
  display:inline-block;
}

#jira .content{
  overflow: scroll;
  overflow-x:hidden;
  height:150px;
}

/* bamboo */

#bamboo .content{
  overflow: scroll;
  overflow-x:hidden;
  height:150px;
}

td.build-timeago span{
  color:gray;
  font-size:90%;
}

.builds .build-status a{
  color:white;
}
.builds .build-status.aui-lozenge{
  text-align: left;
}

.builds .build-status{
  width:350px;
  white-space: nowrap;
  overflow:hidden;
}

td.build-duration span{
  color:gray;
  font-size:90%;
}

/* stash */
table.pullRequest .title {
  white-space: nowrap;
  float:right;
  width:200px;
  overflow:hidden;
}
table.pullRequest .description {
  white-space: nowrap;
  float:right;
  width:500px; 
  overflow:hidden;
  color:gray;
  font-size:90%;
}

img.avatar {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.reviewers.approved {
  border-bottom: 2px solid green;
}

.reviewers.notapproved {
  border-bottom: 2px solid red;
}